div.container{
    background-color: rgb(148, 191, 39);
    text-align: center;
    font-size: 24px;


}


div.container-fluid{
    background-color: lightcoral;
    text-align: center;
    font-size: 24px;
}

h1{
    text-align: center;
    
}

.row div{
    border:1px solid black;
}


div.container-sm{
    background-color: rgb(219, 56, 195);
    text-align: center;
    font-size: 24px;
}




div.container-xl{
    background-color: rgb(219, 56, 195);
    text-align: center;
    font-size: 24px;
}



div.container-xl{
    background-color: rgb(95, 156, 72);
    text-align: center;
    font-size: 24px;
}